:root {
	--primary: #e88a46;
	--light-1: #fafafa;
	--light-2: #d4d4d4;
	--dark-1: #2f2f2f;
	--dark-2: #545454;

	--bg-1: var(--dark-1);
	--bg-2: var(--dark-2);
	--copy-1: var(--light-1);
	--copy-2: var(--light-2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	min-height: 100vh;
}

body {
	width: 100%;
}

body.light {
	--bg-1: var(--light-1);
	--bg-2: var(--light-2);
	--copy-1: var(--dark-1);
	--copy-2: var(--dark-2);
}
