/* :root {
	--color-primary-accent: #e88a46;
	--light-1: #fafafa;
	--light-2: #d4d4d4;
	--dark-1: #2f2f2f;
	--dark-2: #545454;

	--color-bg-1: var(--dark-1);
	--color-bg-2: var(--dark-2);
	--color-copy-1: var(--light-1);
	--color-copy-2: var(--light-2);

	--space: 12px;
	--spacing-1: calc(var(--space) / 2);
	--spacing-3: calc(var(--space) * 2);
	--space-xl: calc(var(--space) * 3);
	--spacing-6: calc(var(--space) * 4);
	--space-xxxl: calc(var(--space) * 5);
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	min-height: 100vh;
	overflow: auto;
	overflow: overlay;
}

body {
	width: 100%;
	font-family: 'Baloo 2', sans-serif;
	font-size: var(--font-size-body);
	background: var(--color-bg-1);
	color: var(--color-copy-1);
}

html.noscroll {
	overflow: hidden;
}

h2 {
	font-size: var(--font-size-h2);
	font-weight: var(--font-weights-regular);
}

button {
	background: transparent;
	border: none;
	display: block;
	cursor: pointer;
	font: inherit;
}

a,
a:link,
a:active,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--color-primary-accent);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: var(--color-copy-2);
}
::-webkit-scrollbar-thumb {
	background: var(--color-bg-2);
}
