:root {
	--primary: #e88a46;
	--light-1: #fafafa;
	--light-2: #d4d4d4;
	--dark-1: #2f2f2f;
	--dark-2: #545454;

	--bg-1: var(--dark-1);
	--bg-2: var(--dark-2);
	--copy-1: var(--light-1);
	--copy-2: var(--light-2);

	--space: 12px;
	--space-s: calc(var(--space) / 2);
	--space-l: calc(var(--space) * 2);
	--space-xl: calc(var(--space) * 3);
	--space-xxl: calc(var(--space) * 4);
	--space-xxxl: calc(var(--space) * 5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	min-height: 100vh;
}

body {
	width: 100%;
	font-family: 'Baloo 2', sans-serif;
	font-size: 16px;
	background: var(--bg-1);
	color: var(--copy-1);
}

body.light {
	--bg-1: var(--light-1);
	--bg-2: var(--light-2);
	--copy-1: var(--dark-1);
	--copy-2: var(--dark-2);
}

h2 {
	font-size: 24px;
	font-weight: 400;
}

button {
	background: transparent;
	border: none;
	display: block;
	cursor: pointer;
	font: inherit;
}

a,
a:link,
a:active,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--primary);
}
